.tahoma{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 25;
  }
  .biggest_deals{
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 450;
  }
  .sales_end{
    font-family: arial;
    font-style: italic;
    font-size: 25;
    font-weight: normal;
    color: red;
    margin-top: 0px;
  }
  .Course{
    font-family: Verdana;
    font-weight: bold;
    font-size: 20;
    margin-bottom: 0px;
  }
  .beghiner{
    font-family: verdana;
    color: gray;
    margin-top: 5px;
  }
  .in-this-course{
    font-family: verdana;
    width: 300;
  }
  .get-button{
    background-color: rgb(58, 115, 58);
    color: white;
    border-radius: 4px;
    border:none;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .shoping{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .see_how{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
  }
  .Learn-more{
    font-family: Arial;
    font-size: 15px;
    color: blue;
    text-align: center;
    cursor: pointer;
  }
  .Learn-more:hover{
    text-decoration: underline;
  }
.model{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.order{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}